<div class="booking-container column">
  <div class="booking-thumbnail thumbnail">
<h2><%= title %></h2>
<table>
  <tr>
    <th>Room</th>
    <th>Checkin (4 PM)/th>
    <th>Checkout (11 AM)</th>
    <th>Status</th>
  </tr>
  <% bookings.each do |b| %><tr>
    <td><%= b.room.room_number %></td>
    <td><%= b.scheduled_checkin %></td>
    <td><%= b.scheduled_checkout %></td>
    <td><%= b.status %></td>
  </tr><% end %>
</table>
</div>
</div>
