<table>
  <tr>
    <th>Room Number</th>
    <th>Room Type</th>
    <th>Number of Beds</th>
    <th>Type of Bed</th>
    <% unless @floor %><th>Floor</th><% end %>
  </tr>
  <% @rooms.each do |room| %>
    <tr>
      <td><%= room.room_number %></td>
      <td><%= room.room_type %></td>
      <td><%= room.beds %></td>
      <td><%= room.bed_type %></td>
      <% unless @floor %><td><%= room.floor.floor_name %></td><% end %>
    </tr>
  <% end %>
</table>
