<!DOCTYPE html>
<% require 'pry' %>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>


    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <%= image_tag 'bell.png', class: 'logo'%>
      <%= link_to 'Home', root_path, class: 'nav-link' %>
      <%= link_to 'Property Index', hotels_path, class: 'nav-link' %>
      <%= link_to 'Customer Index', customers_path, class: 'nav-link' %>
      <%= link_to @hotel.name, hotel_path(params[:id]), class: 'nav-link' if request.env['PATH_INFO'].include?('hotels/') %>
    </header>

    <%= yield %>

  </body>
</html>
<!DOCTYPE html>
