<!DOCTYPE html>
<html>
  <head>
    <title>HotelManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <%= link_to 'link for hotel listings', hotels_path %>
      <%= link_to 'link for current hotel', hotel_path(params[:id]) if params[:id]%>
    </header>
    <%= yield %>
  </body>
</html>
